@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>a tutorial that I recommend <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg&t=1905s">building Web apps with ASP.NET Core</a>.</p>
    <p>watch this tutorial one time is not enough, I have to watch three times</p>
    <p>coded by Yuxiang Guan</p>
</div>
